<div class="container-fluid">
  <div style="text-align:center; padding-top: 1%;">
    <form class="input" (ngSubmit)="findCitazione()" [formGroup]="form">
      <input required name="Inserisci qui la tua frase. . ." formControlName="quote"
        style="width: 60%; border: 0px; font-family: cursive; background: none; opacity: 50%;" />
      <br />
      <button
        style="margin-top: 10%; background-color: rgba(134, 192, 73, 0.433); width: 8%; border-radius: 4px; font-family: 'Times New Roman', Times, serif; font-weight: normal;">Cerca
      </button>
    </form>
  </div>
</div>

<div class="bg container-fluid">
  <div style="text-align:center; padding-top: 1%;">
    <h1 style="text-align: center;">
      <table style="margin-bottom: 18%; font-size: large; font-family: cursive;">
        <tr *ngFor="let citazione of citazioni">
          <td style="color: hsl(0, 0%, 0%); opacity: 1;">{{citazione.content}}</td>
        </tr>
      </table>
    </h1>
  </div>
</div>