@import url("https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css");
body {
    background-color: rgb(255, 255, 255);
  }


  h1 {
    color: rgb(36, 0, 102);
    text-align: center;
  }

  .center {
    text-align: center;
    background-color: #484c7a;
    border: 10px solid;
  }



/* NAVBAR */
  nav {
    background-color: #484c7a;
    
  }
  navbar-brand {
    background-color: rgb(255, 255, 255);
  }

  /* FORM */

  form.absolute {
    position: absolute;
    bottom: 100px;
    width: 50%;
    border: 3px solid #8AC007;
  }

   /* LABEL */

   label {
    color: rgb(255, 255, 255);

   }
